.currentGrade{
    text-align: center;
    margin:auto;
    font-size: 25px;
}
#calculate{
    font-size: 25px;
    margin-bottom: 44px;
    background-color: wheat;
    padding: 15px 30px;
    border-radius: 10px;
}
#finalCalc{
    font-size: 25px;
    margin-bottom: 44px;
    background-color: wheat;
    padding: 30px 30px;
    border-radius: 20px;
}

button:focus {outline:0 !important;}

body{
    background-color: red;
}
#title{
    font-size: 56px;
}
#weightedGrade{
    text-align: center;
    margin:auto;
    font-size: 32px;
}
#finalHeader{

    text-align: center;
    margin:auto;
}
#table1{
    background-color:lightblue;
}